.headerWrap {
  background-color: var(--white);
  border-bottom: 5px solid var(--cyber-blue);
  display: grid;
  grid-template-columns: 35px 170px;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .navWrap {
    align-items: center;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 170px;

    a:link, a:visited {
      color: var(--dark-grey);
      font-family: var(--font-montserrat);
      font-size: 17px;
      font-weight: 800;
      text-transform: uppercase;
    }

    a:hover, a:active {
      color: var(--orange);
    }

    a.gitLink {
      font-size: 18px;
      margin-top: 5px;
    }
  }
}

@media print {
  .headerWrap {
    display: none;
  }
}
