body {
  background-color: #ffffff !important;
}

.resume_wrap {
  background-color: #ffffff;
  background-image: none;
  max-width: 100%;
  padding-top: 78px;

  /* Font Reset */

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-robotocond), sans-serif;
    text-transform: uppercase;
  }

  h1, h2, h3, h4, h5, h6, p, a:link, a:hover {
    line-height: 1;
  }

  h1 {
    color: var(--cyber-blue);
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 0px;
  }

  h2 {
    border-bottom: 1px solid var(--cyber-blue);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  h3 {
    color: var(--orange);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  h4 {
    color: var(--dark-blue);
    font-size: 15px;
    font-weight: 400;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 15px;
  }

  p {
    color: #000000;
    font-family: var(--font-lato), sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  a:link, a:visited {
    color: var(--orange);
    font-family: var(--font-montserrat), sans-serif;
    font-size: 14px;
    text-decoration: none;
  }

  a:hover {
    color: var(--cyber-blue);
  }

  .contacts, .profile, .workExp, .skills, .education {
    padding: 20px;
  }

  .controls {
    background-color: #000000;
    display: grid;
    grid-template-columns: 75% 100px;
    justify-content: space-between;
    padding: 1em;

    p {
      color: #ffffff;
      font-family:var(--font-montserrat);
      margin-bottom: 0px;
    }
  }

  .contacts * {
    position: relative;
  }

  .contacts {
    border-bottom: 5px solid var(--cyber-blue);
    position: relative;

    h2 {
      border-bottom: 1px solid var(--cyber-blue);
      border-top: 1px solid var(--cyber-blue);
      color: #000000;
      margin: 5px 0px;
      padding: 7px 0px 5px 0px;
      width: fit-content;
    }

    p {
      font-weight: 700;
      line-height: 1;
      margin-bottom: 5px;
      text-transform: uppercase;

      a:link, a:hover {
        font-family: var(--font-robotocond);
        font-weight: 400;
      }
    }

    p:last-of-type {
      margin-bottom: 0px;
    }
  }

  .contacts::before {
    background-image: url('/global-assets/images/hexrepeat2.jpg');
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0.5;
  }
  
  .profile {
    border-bottom: 1px solid var(--cyber-blue);
    padding-bottom: 15px;
  }

  .work_exp {
    border-bottom: 1px solid var(--cyber-blue);
    padding: 20px;

    .workplace {
      border-bottom: 1px solid var(--cyber-blue);
      margin-bottom: 20px;
      padding-bottom: 10px;

      .workplace_header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;

        h4 {
          font-weight: 500;
        }

        p {
          font-family: var(--font-robotocond);
          font-weight: 700;
          text-transform: uppercase;
          text-align: right;
        }
      }

      p.keywords {
        font-size: 12px;
        font-style: italic;
        line-height: 1rem;
        margin-bottom: 1rem;

        span {
          font-weight: 500;
        }
      }
    }

    .workplace:last-of-type {
      border-bottom: none;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
  }

  .skills {
    border-bottom: 1px solid var(--cyber-blue);

    .skills_wrap {
      column-gap: 20px;

      .parsec_wrap {
        border-bottom: 1px solid var(--cyber-blue);
        margin-bottom: 10px;

        h3 {
          font-weight: 700;
          margin-bottom: 5px;
        }

        h4 {
          color: var(--cyber-blue);
          font-weight: 600;
          margin-bottom: 5px;
          margin-top: 10px;
        }

        p {
          margin-bottom: 10px;
        }
      }

      .parsec_wrap:last-of-type {
        border-bottom: none;
        margin-bottom: 0px;

        p:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }

  .education {
    border-bottom: 1px solid var(--cyber-blue);
    
    .ed_item {
      margin-bottom: 20px;

      h3 {
        margin-bottom: 0.5rem;
      }

      .ed_header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;

        h4 {
          font-weight: 500;
        }

        p {
          font-family: var(--font-robotocond);
          font-weight: 700;
          margin-bottom: 0px;
          text-transform: uppercase;
          text-align: right;
        }
      }
    }

    .ed_item:last-of-type {
      margin-bottom: 0px;
    }
  }

  /* Responsive Media Queries */
  
  @media (min-width: 576px) {
    h1 {
      font-size: 24px;
    }

    h2, h3 {
      font-size: 20px;
    }
    
    h4, h5, h6 {
      font-size: 18px;
    }

    p, a:link, a:hover {
      font-size: 14px;
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 26px;
    }

    h2, h3 {
      font-size: 22px;
    }

    h4, h5, h6 {
      font-size: 20px;
    }

    p, a:link, a:hover {
      font-size: 16px;
    }

    p {
      line-height: 20px;
    }
  }

  @media (min-height: 1024px) {
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 30px;
    }

    h4 {
      font-size: 28px;
    }

    h5 {
      font-size: 26px;
    }

    h6 {
      font-size: 24px;
    }

    p, a:link, a:hover {
      font-size: 16px;
    }
  }

  @media (min-width: 1200px) {
    p, a:link, a:visited {
      font-size: 18px;
    }
  }

  @media print {
    .controls, footer, .headerWrap {
      display: none !important;
    }
  }
  /* End Responsive Media Queries */
}
