.skills_section {
  margin: 0 auto;
  padding: 20px;

  .skills_wrap {
    background-color: pink;
  }
}

@media (min-width: 1024px) {
  .skills_section {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .skills_section {
    max-width: 80%;
  }
}
